@CHARSET "UTF-8";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	min-height: 100%;
	position : relative;
}

#container #header {
	height: 70px;
}

.container #content { 
	min-height: 470px;
}

#container #footer {
	position:absolute;
	bottom: 0;
	width: 80%;
	height: 50px;
	background-color: silver;
}

.slideanim {visibility:hidden;}
.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}