@CHARSET "utf-8";
/*layout*/	
#spot{position:relative; width:100%;height:405px;border-top:1px solid #fff;background:#f1f5f8;}
#section{width:100%; min-height:137px;padding-top:55px;}/*height:100%;*/
#section01{width:100%; min-height:230px; padding-top:55px;}/*height:100%;*/
#section02{width:100%; min-height:459px; padding-top:55px;}/*height:100%;*/
#section03{width:100%; min-height:232px;  padding-top:55px;}/*height:100%;*/
#article {width:978px;margin:0 auto;}
#article02 {min-width:1080px;margin:0 auto;}
#rel_banner {width:100%; height:73px; background:#fff;padding-top:44px;}



/*메인비주얼*/
#spot .slidebtn {position:absolute; left:50%; bottom:15px; width:100px;margin:0 0 0 13px; z-index:3;}
#spot .slidebtn li {float:left; width:10px; height:10px; margin-right:3px;}
#spot .slidebtn .play {width:13px; height:12px; background:url(../images/main/popslider_play.png) 0 -1px; }
#spot .slidebtn .stop {width:13px; height:12px; background:url(../images/main/popslider_stop.png) 0 -1px;}
#spot .slidebtn .on{width:13px; height:12px; background:url(../images/main/popslider_on.png) 0 0;}
#spot .slidebtn .off{width:13px; height:12px; background:url(../images/main/popslider_off.png) 0 0;}
#spot .spot_txt {position:absolute; top:108px; width:430px;z-index:1;}
#spot .spot_txt p:first-child {font-size:18px;font-weight:500;}
#spot .spot_txt p:last-child {margin-top:10px;font-weight:700;font-size:34px;}
#spot .spot_txt p:first-child span {color:#0078c9;}
#spot .spot_txt p:last-child span {color:#005abb;}
#spot .d_status {position:absolute; top:272px; z-index:1;}
#spot .d_status span{display:inline-block;padding-right:18px;}
#spot .d_status span a {position:relative; top:58px; right:-32px; font-weight:600;font-size:1.35em;}
#spot .d_status .btn01{width:98px; height:98px;background:url(../images/main/btn_deal01.gif) no-repeat;}
#spot .d_status .btn02{width:98px; height:99px;background:url(../images/main/btn_deal02.gif) no-repeat;}
#spot .d_status .btn03{width:98px; height:100px;background:url(../images/main/btn_deal03.gif) no-repeat;}
#spot .img {height:405px;background:url(../images/main/spot01.png) top right no-repeat;}

/*매물정보조회*/
#section .search {position:relative;width:928px;padding:25px;background-color:#5eb0e5;box-shadow:2px 2px 10px 0px #dcdcdc;}
#section .search h2{color:#fff;padding-bottom:30px;text-align:center;}
#section .search .select_box {position: relative;float:left;width: 178px;height: 36px;background:#fff url(../images/common/salelist_arrow.gif) 150px center no-repeat;border: 1px solid #4295ca;margin-right:6px;}
#section .search .select_box label {position: absolute;font-family:'나눔고딕', NanumGothic, serif;font-size: 16px;font-weight:600;color: #003a69;top: 9px;left: 33px;letter-spacing: 1px;text-align:center;}
#section .search .select_box select {width: 100%;height: 36px;min-height: 36px;line-height: 36px;padding: 0 10px;opacity: 0;filter: alpha(opacity=0); /* IE 8 */}
#section .search .search_input {width:178px;height:36px;border:1px solid #002d51;background:#003a69;color:#fff;z-index:-1;box-shadow:1px 1px 7px 0px #005abb;}
#section .search .search_input:hover {background:#005fac;color:#fff;border:1px solid #0159a0;}
#section .search .search_input {font:600 1.33em '나눔고딕', NanumGothic, serif;text-align:center;}

/*매물정보*/ 
#section01 .sale_list  {position:relative; width:978px;height:178px;}
#section01 .sale_list h2{text-align:center;padding-bottom:30px;}
#section01 .listbox {float:left; width:978px;}
#section01 .box {width:100%;}
#section01 .box a {float:left; width:185px; height:178px; padding:0 25px;overflow:hidden;}
#section01 .box a ul {float:left;width:185px; margin:10px 0;}
#section01 .box a ul span.name{font-weight:600; font-size:1.33em;}
#section01 .btn_broker {float:right;display:inline-block;width:34px; height:19px;background:#05ba30;margin-left:4px;font-weight:bold;color:#fff;text-align:center;line-height:19px;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
#section01 .btn_sale {float:right;display:inline-block;width:34px; height:19px;background:#0fb3a1;margin-left:4px;font-weight:bold;color:#fff;text-align:center;line-height:19px;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
#section01 .port{float:left;padding-top:10px;font-weight:600;font-size:14px;}
#section01 .price {padding-top:10px;float:right;font-weight:600;color:#5679d3;font-size:14px;}
#section01 .prev {float:left;}
#section01 .next {float:right;}
#section01 .more {position:absolute;float:right; top:0; right:40px;}

/*내배팔기,어선시스템소개,중개인찾기,내배사기*/
#section02 .sell {position:relative; float:left;width:58%; height:230px;background:#d1f5f4;z-index:1;}
#section02 .sell h2 {position:absolute;top:31px;right:531px;color:#485dc5;z-index:20;}
#section02 .sell span {position:absolute;top:67px;right:520px;font-size:14px;text-decoration:underline;z-index:20;}
#section02 .info{position:relative; float:right;width:42%; height:230px;background:#fff7f8;z-index:1;}
#section02 .info h2 {position:absolute;top:181px;left:83px; z-index:20;}
#section02 .findbroker{position:relative; float:left;width:42%; height:230px;background:#e6fefd;z-index:1;}
#section02 .findbroker h2 {position:absolute;top:38px;right:105px;  z-index:20;}
#section02 .buy{position:relative; float:right;width:58%; height:230px;background:#ddeffd;z-index:1;}
#section02 .buy h2 {position:absolute;top:31px;left:523px;color:#00b1ac; z-index:20;}
#section02 .buy span {position:absolute;top:67px;left:513px;font-size:14px;text-decoration:underline;z-index:20;}
#section02 .sell img, #section02 .findbroker img {float:right;}
#section02 .info img, #section02 .buy img {float:left;}

/*팝업*/
#section03 .popup {position:relative;float:left;}
#section03 .popup h2{position:absolute;top:15px; left:20px; z-index:20;}
#section03 .popup .slidebtn {position:absolute; top:15px; right:0;width:114px;z-index:30;}
#section03 .popup .slidebtn li {float:left;height:14px; margin-right:3px;}
#section03 .popup .slidebtn .play {width:13px; height:14px; background:url(../images/main/btn_slide_play.png) 0 0 no-repeat;}
#section03 .popup .slidebtn .stop {width:14px; height:14px; background:url(../images/main/btn_slide_stop.png) 0 0 no-repeat;}
#section03 .popup .slidebtn .on{width:35px; height:14px; background:url(../images/main/btn_slide_on.png) 0 0 no-repeat;}
#section03 .popup .slidebtn .off{width:15px; height:14px; background:url(../images/main/btn_slide_off.png) 0 0 no-repeat;}
#section03 .popupbox {position:relative; width:306px; height:232px;z-index:10;}

/*중개인사이트*/
.brokersite {float:left;width:265px;padding:0 16px;}

/*공지사항*/
#section03 .news_area{position:relative; float:left;width:374px; height:232px;border-bottom:1px solid #ccc;}
#section03 .news_area .newstit{width:354px; height: 26px; padding:12px 0 20px 20px;;border-bottom:1px solid #ccc;}
#section03 .news_area .newstit h2{display:inline;}
#section03 .viewbox {position:relative;width:374px;}
#section03 .view_list {margin:20px 0 0 20px;}
#section03 .view_list li {height:14px;/*for ie8*/margin:0 0 16px;vertical-align:middle;}
#section03 .view_list li a {float:left;width:70%;font-size:13px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#section03 .view_list li a:hover {color:#000;}
#section03 .view_list li span.date {float:right; margin-right:10px;}
#section03 .news_area .more {position:absolute;float:right; top:20px; right:5px;}

/*관련배너*/
#rel_banner .banner {float:left; width:872px;padding:18px 52px;border:1px solid #dcdcdc;box-shadow:2px 2px 10px 0px #dcdcdc;}
#rel_banner .banner li {float:left; padding:0 26px;}
