@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
html {
  position: relative;
  min-height: 100%;
}
.fontsss{
 font-family: 'Nanum Brush Script','Nanum Pen Script', cursive, 'Nanum Myeongjo','Nanum Gothic','KoPub Batang', 'Jeju Myeongjo','Jeju Gothic','Jeju Hallasan','Hanna','Noto Sans KR','Nanum Barun Gothic', sans-serif;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Nanum Barun Gothic', sans-serif;
}
.jg {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Jeju Gothic', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;font-weight:bold;
}
.nav-link active{
	color:red;
	font-weight:bold;
}
.navbar-brand {
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
	font-weight:bold;
	color: #ffffff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.bg-faded {
    background-color: #5bc0de;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.jumbotron {
  text-align: center;
  background-color: #ffffff;
  border:#0275d8 1px solid;;
   padding: 30px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

li{list-style:none;}
.hide{display:none;}
.contents {
    clear: both;
    width: 100%;
    font-size: 13px;
    color: #666;
    height: auto;

}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  display:none;
  z-index:9999;
}
@media (min-width: 544px){
	.jumbotron {
		padding: 2rem 1rem;
	}
}
/*고객만족도*/
#evaluation { position: relative;margin-bottom: -30px;bottom:0; border:1px solid #d9d9d9; padding:16px 0 16px 13px; width:100%; height:auto; clear:both;}/*position:absolute; width:700px; height:82px;*/
#evaluation fieldset{border:0px;}
#evaluation .inputEval { border-top:1px solid #cfcfcf; width:715px; margin-top:12px; padding-top:12px; float:left;}/*vertical-align:text-bottom;*/
#evaluation .inputEval ul li { float:left;}
#evaluation .inputEval ul li input {margin-left:3px; }
#evaluation .m1 {margin-right:15px;}
#evaluation .m2 {position:relative; margin-left:20px;}
.contxtin{}
.corr{color:red}
.pdt-20{height:20px;}
.mgt20{margin-top:20px;padding-bottom:20px;}
.mgt60{margin-top:60px;}

#section{margin-top:200px;}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  
}
.fixedtop {
  position: fixed;
  background-color:#ffffff;
  width:100%;
 
}
.h3, h3 {
    font-size: 1.3rem;
}
.section-4open{
	display:none;
}